.main-button{
    border: none;
    background-color: chocolate;
    color: black;
    height: 48px;
    width: 128px;
    font-size: 32px;
    font-weight: 100;
    cursor: pointer;
    border-radius: 16px;
}